.slider-wrapper {
    width: 100%;
    height: 780px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    a {
        width: 47px;
        height: 47px;
        background-color: #d8d8d8;
        color: #ffffff;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:hover {
            color: $textColor;
            transition: 0.5s;
        }
    }
}

.slider-single {
    background-image: url(img/Layer_42.png);
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

.desc-product-wrapper {
    width: 100%;
    height: 730px;
    position: relative;
}

.desc-product {
    width: inherit;
    height: inherit;
    background-color: #ffffff;
    ;
    position: absolute;
    bottom: 70px;
    border: 1px solid #eaeaea;
}

.desc-product-text {
    text-align: center;
    margin: 0 260px;
    margin-top: 73px;
    border-bottom: 1px solid #eaeaea;

    h3 {
        display: inline-block;
        color: #f16d7f;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 15px;
        position: relative;
        margin: 0;

        &::after {}
    }
}

.header-desc {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 67px;
}

.desc-text {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
}

.desc-options {
    display: flex;
    justify-content: center;

    p {
        padding: 0 22px;
        color: #b9b9b9;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

        span {
            color: #2f2f2f;
        }
    }
}

.product-price {
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
}

.desc-product-form {
    padding: 0 300px;
    padding-top: 50px;

    form {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        fieldset {
            border: none;
            display: flex;
            flex-direction: column;

            label {
                color: #2f2f2f;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }

            input {
                width: 126px;
                height: 35px;
                outline: none;
                color: #bcbcbc;
                font-size: 13px;
                font-weight: 400;
                border: 1px solid #eaeaea;
                padding-left: 14px;
            }
        }
    }

    button {
        border: 1px solid #ef5b70;
        background-color: #ffffff;
        width: 537px;
        height: 55px;
        color: #ef5b70;
        font-size: 16px;
        font-weight: 700;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    img {
        margin-right: 20px;
    }
}

.choose-color {
    display: block;
    width: 12px;
    height: 12px;
    background-color: red;
}
